<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" name="test" enctype="multipart/form-data">
    <input name="headimg" id="filetest" type="file">
    <button type="submit">sdfdsf</button>
</form>
</body>
</html>